<%= link_to 'reject', @apply, action: :reject, method: :post, data: { confirm: 'Are you sure?' }, class: 'button is-small is-link is-outlined' %></li>
  <%= link_to 'accept',@apply, action: :accept, method: :get,  class: 'button is-small is-link is-outlined' %></li>
         
