<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-8 is-offset-2">
        <h1 class="title is-3">Editing job</h1>
        <%= render 'form' %>
      </div>
    </div> 
  </div>
</section> 